# Dependency folders
node_modules/
jspm_packages/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Database files (don't sync your 1M history items to GitHub!)
*.db
*.sqlite

# Python cache
__pycache__/
*.py[cod]

# API Secrets / Credentials
.env
token.json
